<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<link rel="stylesheet" href="less://komodo/skin/global/global.less" />
<link rel="stylesheet" href="less://komodo_git/content/less/console.less" />

</head>
<body class="editor-field">
    
<div id="git-console" class="editor-field">
  <ul id="output" onclick="clearOutPut();"></ul>
</div>

<form class="widgetToolbarWrap" id="statusbar">
    <button>Clear Output</button>
<span id="input-mock">a
a</span> <!-- Used to measure char width/height, do not alter contents -->
    </div>
</form>

<script src="chrome://komodo_git/content/js/console.js"></script>
<script src="chrome://komodo_git/content/js/observer.js"></script>
<script>
  function clearOutPut() {
    var output = document.getElementById('output');
    output.innerHTML = '';
  }
</script>

</body>
</html>
